.navbar{
    background-color: #f3f3f3;
    z-index:99;
    &-toggler{
        &focus{
            color:rgba($color: #0f20ff, $alpha: 0.5)!important;
        }
    }
}
.nav-item{
    text-align:end;
    color:#fff;

    @media (min-width:992px){
        hover{
            background-color: #0f20ff;
            color: #fff;
        }
    }
}